.distribution-table td {
    vertical-align: top;
    padding: 5px;
}
.table {
    border-spacing: 0;
    border-collapse: collapse;
}

.packaging {
    flex: 1 1 auto;
}

.flexbox {
    display: flex;
    flex-flow: row
} 
