{{/*
SPDX-FileCopyrightText: Pablo Marcos <kde@pablomarcos.me>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}
{{ define "main" }}
<main class="container" role="main">
  <h1>{{ .Params.title }}</h1>
  <p>
  {{ .Params.intro }}
  </p>
        <div class="flexbox">
        <div>
        <table class="distribution-table">
        <tbody>
            {{ range .Params.options }}
                <tr class="title-row">
                    <td rowspan="2" width="100">
                        <img src="{{ .image}}" alt="{{ .image_alt}}" style="width: 5rem">
                    </td>
                    <th>{{ .name}}</th>
                </tr>
                <tr>
                    <td>{{ .text | markdownify}}</a>
                    </td>
                </tr>
            {{end}}
        </tbody>
        </table>
        {{ .Content }}
        </div>
        <div>
        <a href="https://repology.org/project/okular/versions">
        <img src="https://repology.org/badge/vertical-allrepos/okular.svg" alt="Packaging status table" class="packaging"><a>
        </div>
</div>
</main>
{{ end }}
